/* Resets */
@import "reset.css";

/* Body */
body {
  background-color: #3f4552;
}

/* Container */
.container {
  display: flex;
  height: 850px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Canvas */
.wrap-canvas {
  width: auto;
  height: 840px;
  padding: 20px;
  background-color: #ced4e0;
  border-radius: 1px;
  border: 3px solid #000000;
}

#main-canvas {
  width: 700px;
  height: 700px;
  background-color: white;
  border: 3.4px solid #000000;
  border-radius: 1px;
}

/* Colors */
.wrap-colors {
  width: 700px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.color-option-box {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}

.color-option:hover,
#color:hover {
  outline: 3px solid #ffffff;
}

.color-option {
  cursor: pointer;
  margin: 3px;
  width: 45px;
  height: 45px;
  border: 3px solid #000000;
  border-radius: 3px;
}

.color-option:focus {
  border: 3px solid #ffffff;
}

#color {
  cursor: pointer;
  margin-left: 10px;
  width: 110px;
  height: 110px;
  border: 3px solid #000000;
}

/* Tool Box Wrapper */
.wrap-tools {
  width: 200px;
  padding: 20px;
  background-color: #ced4e0;
  margin-right: 30px;
  border: 3px solid #000000;
  text-align: center;
}

/* Brush Sizing */
#brush_preview {
  margin-bottom: 10px;
  width: 190px;
  height: 30px;
  background-color: white;
  border: 3px solid #000000;
}

input[type="range"] {
  -webkit-appearance: none;
  overflow: hidden;
  width: 188px;
  height: 18px;
  background: transparent;
  cursor: pointer;
  border: 3px solid #000000;
  border-radius: 0; /* iOS */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 3px solid #000000;
  cursor: pointer;
  z-index: 3;
  position: relative;
  box-shadow: -100vw 0 0 100vw #3f4552;
}

.brush-size-tools {
  width: 100%;
  max-width: 90%;
  position: relative;
}

.range-thumb-tracker {
  position: relative;
  left: 50%;
  z-index: 2;
}

.size-num {
  position: absolute;
  width: 30px;
  bottom: -22px;
  left: -11px;
  text-align: center;
  font-size: 20px;
}

/* Drawing Tools */
.drawing-tools {
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  width: auto;
  height: 320px;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 15px 5px 15px 5px;
  border-top: 1px solid #3f4552;
  border-bottom: 1px solid #3f4552;
}

.drawing-tools button {
  background: none;
  width: 80px;
  height: 75px;
  margin: 3px;
  cursor: pointer;
  border: none;
  font-size: 60px;
  -webkit-text-stroke: 1.5px #ced4e0;
  z-index: 5;
}

.drawing-tools button:hover {
  color: #3f4552;
  -webkit-text-stroke: 3px #ffffff;
}

button.active{
  color: #3f7de1;
  -webkit-text-stroke: 2px #ffffff;
}

/* Text Edit */
.text-options {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #3f4552;
}

#select-font,
#font-size,
#font-type {
  font-size: 20px;
  padding: 5px;
  margin: 3px;
  border: 3px solid #000000;
  outline: 0;
  cursor: pointer;
}

#select-font {
  width: 80%;
  height: 42px;
  margin: 0;
  left: 20px;
}

#font-weight {
  width: 35px;
  height: 39px;
  border: none;
  background: none;
  padding: 0;
  margin-bottom: 7px;
  font-size: 30px;
  font-weight: 500;
  vertical-align: middle;
  cursor: pointer;
}

button.bold {
  color: #ffffff;
  outline: 1px solid #000000;
  box-shadow: -2px -2px 1px #000000;
}

#font-weight:hover {
  color: #ffffff;
}

#font-size,
#font-type {
  width: 49%;
  margin: 3px -1px 2px 0px;
  height: 42px;
}

.input-text {
  margin-top: 5px;
}

input[type="text"] {
  width: 150px;
  height: 38px;
  padding-left: 5px;
  font-size: 20px;
  border: 3px solid #000000;
  background: #ffffff;
}

input[type="text"]:focus {
  background-color: #c1d9ff;
  outline: 0;
}

#text-submit {
  font-size: 25px;
  width: 30px;
  height: 45px;
  padding: 5px 3px 5px 0px;
  margin-bottom: 5px;
  vertical-align: middle;
  border: 3px solid #000000;
  background: #3f4552;
  color: #ffffff;
  cursor: pointer;
}

#text-submit:hover {
  background-color: #3f7de1;
  border: 3px solid #ffffff;
}

#text-submit.active{
  background:#3f7de1;
  border: 2px solid #000000;
  -webkit-text-stroke: 1px #ffffff;
  box-shadow: -1px -1px 1px #000000;
}

/* Add, Save Image & Clear */
.image-edit {
  margin-top: 20px;
}

label div{
  padding: 10px 30px 14px 30px;
  background-color: #3f4552;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  border: 3px solid #000000;
  margin-bottom: 5px;
}

input[type="file"]{
display: none;
}

.image-edit button {
  width: 200px;
  height: 50px;
  border: 3px solid #000000;
  background-color: #3f4552;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 5.5px;
  font-size: 20px;
  cursor: pointer;
}

.image-edit button:hover, label div:hover{
  background-color: #3f7de1;
  border: 3px solid #ffffff;
}
